@import '../sass/globals.scss';

.groups {
    display: flex;
    height: auto;
    width: 75vw;
    max-width: 1500px;
    flex-direction: column;

    button {
        height: 45px;
        background-color: $button;
        color: #fff;
        border: none;
        border-radius: 5px;
        width: 250px;
    }

    ul {
        list-style: none;
        margin-left: -40px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;

        li {
            height: 350px;
            width: 300px;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 15px;
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
            display: flex;
            flex-direction: column;

            .user {
                height: 100%;
                width: 100%;

                .user-profile {
                    height: 30%;
                    width: 100%;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    background-color: #fff;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    z-index: 10;

                    img {
                        height: auto;
                        width: auto;
                        position: absolute;
                        bottom: -40px;
                        z-index: 999;
                        border-radius: 5%;
                        max-height: 150px;
                        max-width: 150px;
                    }
                }

                .user-info {
                    padding: 10px;
                    text-align: center;
                    margin-top: 50px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    span {
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .counts {
                        display: flex;
                        width: 100%;
                        justify-content: center;
                        align-items: center;
                        gap: 20px;
                        padding-bottom: 10px;
                    }

                    button {
                        height: 35px;
                        width: 180px;
                        background-color: $button;
                        color: #fff;
                        border: none;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}

.single-group {
    display: flex;
    height: auto;
    width: 75vw;
    max-width: 1500px;
    flex-direction: column;
    margin-top: 20px;

    .group-profile {
        height: auto;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        display: flex;
        padding: 20px;

        .g-img {
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .g-info {
            flex-grow: 1;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 20px;
            justify-content: center;

            button {
                height: 45px;
                width: 200px;
                border-radius: 5px;
                background-color: $button;
                color: #fff;
                border: none;
            }
        }
    }

    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin-left: -40px;
        justify-content: center;

        li {
            button {
                height: 45px;
                width: 180px;
                border: none;
                border-radius: 5px;
            }
        }
    }

    .info .admin,
    .members .admin {
        display: flex;
        height: 100px;
        width: auto;
        gap: 15px;
        color: #fff;

        .user_info {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: 15px;
            width: 60vw;
            overflow: hidden;
        }
    }

    .members {
        ul {
            display: flex;
            flex-direction: row;

            li {
                width: 48%;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

.posts-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;

    ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 15px;
        list-style: none;
        margin-left: -40px;

        li {
            height: auto;
            width: 40vw;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 5px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 15px;

            .user-info {
                display: flex;
                align-items: center;
                gap: 15px;
            }

            .post-image {
                width: 100%;
                display: flex;
                justify-content: center;

                img {
                    height: auto;
                    width: auto;
                    max-width: 80%;
                }
            }
        }
    }
}

@media (min-width:200px) and (max-width:900px) {
    .groups {
        width: 100vw;
        align-items: center;

        ul {
            justify-content: center;
            align-items: center;
        }

        ul li {
            width: 80vw;

        }

        button {
            padding: 10px;
        }
    }

    .single-group {
        width: 95vw;

        .group-profile {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: auto;
            padding: 15px;
        }
    }

    .members ul {
        flex-direction: column !important;

        li {
            width: 90% !important;
        }
    }

    .posts-group {
        width: 95vw !important;
        align-items: center;

        ul {
            width: 100% !important;
            align-items: center;

            li {
                width: 90vw;
            }
        }
    }
}